
<div class="jumbotron "  >

  <div class="d-flex justify-content-center" >

<form #carForm="ngForm"  >
  <div>
  <div class="row">
    <div class="form-group mx-sm-3 mb-2">
      <label for="recipient-name" class="col-form-label">FirstName </label>
      <input #model="ngModel" required  type="text" class="form-control" [(ngModel)]="user.firstName" name="FirstName" />
      <span class="error">Color Field is required </span>
    </div>
    <div class="form-group mx-sm-2 mb-2">
      <label for="message-text" class="col-form-label">LastName</label>
      <input  requred="true" type="email" class="form-control" [(ngModel)]="user.lastName" name="LastName">

    </div>
  </div>


  <div class="row">
    <div class="form-group mx-sm-3 mb-5">
      <label for="message-text" class="col-form-label">Email</label>
      <input class="form-control" [(ngModel)]="user.email" name="email">
    </div>
    <div class="row">
      <div class="form-group mx-sm-3 mb-2">
        <label for="message-text" class="col-form-label">Login</label>
      <input class="form-control" [(ngModel)]="user.login" name="login">
      </div>

    </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Atualizar</button>

  </div>






