
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>
              <form [formGroup]="f" novalidate>
                  <label class="custom-control-label" for="customCheck1">Usuario</label>

                <div class="form-group has-feedback"
                  [ngClass]="{'has-success': f.controls['login'].valid,
                                'has-error': f.controls['login'].invalid && (f.controls['login'].touched || f.controls['login'].dirty)}">

                  <input type="text" id="inputLogin"  formControlName="login" class="form-control" placeholder="Login" required autofocus>

                  <span *ngIf="f.controls['login'].valid" class="glyphicon glyphicon-ok form-control-feedback"
                    aria-hidden="true"></span>

                  <span *ngIf="f.controls['login'].invalid && (f.controls['login'].touched || f.controls['login'].dirty)">

                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                    <span class="text-danger">Login.</span>
                  </span>


                  <label for="inputEmail"></label>

                </div  >



                <label class="custom-control-label" for="customCheck1">Senha</label>

                <div class="form-group" [ngClass]="{'has-success': f.controls['password'].valid,
                'has-error': f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)}">

                <span class="text-danger" *ngIf="f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)">Campo obrigatório.</span>

                  <input type="password" id="inputPassword"  formControlName="password"  class="form-control" placeholder="Password" required>
                  <label for="inputPassword"></label>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="f.invalid" (click)="onSubmit()">Sign in</button>
                <hr class="my-4">

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

